<!--====== Contact ======-->
<section id="contact" class="contact section-padding" data-scroll-index="7">
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        <h4 class="head-left">Get In Touch</h4>


      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="info">
          <div class="col-md-12">
            <div class="item col-md-4">
              <span class="icon ion-android-call"></span>
              <h6>Phone:<br> <span>408.916.6134</span></h6>
            </div>

            <div class="item col-md-4">
              <span class="icon ion-ios-location"></span>
              <h6>Address:<br> <span>2010 Milvia St, Berkeley</span></h6>
            </div>

            <div class="item col-md-4">
              <span class="icon ion-ios-email"></span>
              <h6>Email:<br> <span>ajaymerchia[at]gmail.com</span></h6>
            </div>
          </div>

          <!-- social Icon -->
          <div class="social-icon">
            <a href="http://facebook.com/merchia">
              <span><i class="fa fa-facebook" style="" aria-hidden="true"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/ajayrajmerchia/">
              <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
            </a>
            <a href="https://github.com/ajaymerchia">
              <span><i class="fa fa-github" aria-hidden="true"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>
</section>
<!--====== End Contact ======-->







    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

  <!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- scrollIt -->
<script src="js/scrollIt.min.js"></script>

<!-- magnific-popup -->
<script src="js/jquery.magnific-popup.min.js"></script>

<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>

<!-- stellar js -->
<script src="js/jquery.stellar.min.js"></script>

<!-- typed js -->
    <script src="js/typed.js"></script>

    <!-- jquery.waypoints.min js -->
  <script src="js/jquery.waypoints.min.js"></script>

  <!-- jquery.counterup.min js -->
  <script src="js/jquery.counterup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!-- validator js -->
    <script src="js/validator.js"></script>
    <script src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>




</body>
</html>
